@{
    ViewBag.Title = "Home Page";
}

<h2>Travel Partners</h2>

<div class="row">
    <div class="col-sm-2 text-center">
        <div class="btn-group div-custom" data-toggle="buttons" style="width: 600px">
            <button class="btn btn-default btn-custom" onclick="location.href='@Url.Action("Users", "Home" )'">Users Management</button>
        </div>
    </div>
</div>
